<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Abhishek</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
  </nav>

  <div class="container my-3">
    <h2 class="text-center my-3 py-3">About me</h2>    
    <div class="row">
      <div class="col-md-4">
      <div class="card l-3" style="width: 18rem;">
      <img src="https://source.unsplash.com/random/500x300/?computer" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Developer</h5>
        <p class="card-text">I am a programmer who love programming in Python and using Django framework.</p>
      <a href="https://github.com/Abhiiii02" class="btn btn-primary">Go</a>
      </div>
      </div>
      </div>
      <div class="col-md-4">
      <div class="card" style="width: 18rem;">
      <img src="https://source.unsplash.com/random/500x300/?Youtube" class="card-img-top" alt="...">
      <div class="card-body">
      <h5 class="card-title">Youtuber</h5>
      <p class="card-text">Must visit my youtube channel based on technology and don't forget to subscribe :)</p>
      <a href="https://youtu.be/yDJOoUoYQXw" class="btn btn-primary">Go</a>
      </div>
      </div>
      </div>
      <div class="col-md-4">
      <div class="card" style="width: 18rem;">
      <img src="https://source.unsplash.com/random/500x300/?cricketer" class="card-img-top" alt="...">
      <div class="card-body">
      <h5 class="card-title">Cricketer</h5>
      <p class="card-text">Cricket is the sport i am ready to play whenever you ask. Come let's play!!!</p>
      <a href="#" class="btn btn-primary">Go</a>
      </div>
      </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>

  <footer class="text-center text-light bg-dark my-3"> Copyright &copy; 2022 | All rights reserved</footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>